
@{
}
<h3>Your Ad is successfully created!</h3>
<a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"> </i> Back to Member Panel</a>