
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
ovde for petlju koja prode kroz listu kao kod bloga i sve izbacioglase koje je stavio korisnik
pretragu staviti po user ID dakle svaki oglas ce iamt ID korisnika koji ga je napravio i to ce se 
cuvati u odredenoj tabeli 


Danas napraviti menage profile 

    -Dodati sva polja koja definisu usera i omoguciti njihovo azuriranje
maknuti nepotrene stvari sa manage stranice

    - srediti sliku od korisnika

    - Napraviti semu ponude i parametara koje ce imati
        -parametri katergorije(garaza kuca stan i sl)
    -   -parametri da li se renta ili prodaje
        -cijena rentanaj ili prodaje